.container {
  max-width: 700px;
  min-height: 92vh;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid var(--accentColor);
  background: transparent;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    margin: 30px;
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .container {
    margin: 20px;
    padding: 10px;
  }
}

.main__title {
  font-family: "Lobster", cursive;
  font-size: clamp(2rem, 5vw, 3.3rem);
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: var(--mainColor);
  animation-name: main-title-spring;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes main-title-spring {
  0% {
    transform: scale(15);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.main__task {
  display: block;
  width: 90%;
  margin: 20px auto 8px;
  padding: 3px 10px;
  background: transparent;
  border: 0px solid;
  border-bottom: 2px solid var(--accentColor);
  outline: none;
  font-size: 1.2rem;
  color: var(--mainColor);
  font-style: italic;
}

.main__label {
  display: block;
  text-align: left;
  color: var(--accentColor);
  margin: 0 5%;
}
